@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.main {
    display: flex;
    flex-direction: row;
}

.seperating-line {
    border-right: 1px solid gray;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.project_list {
    margin-top: 0.5rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.project_list__item {
    margin-bottom: 1rem;
}

.project_layout {
    width: 100%;
    margin: 4rem;
}

.projects {
    width: 60rem;
    display: flex;
    margin-bottom: 4rem;
}

.selection_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    gap: 2rem;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.project_status {
    width: 70rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project_status__section {
    width: 15rem;
}

.project_status__text {
    width: 100%;
    font-size: larger;
}

.add_task {
    background-color: rgb(235, 228, 129);
    padding: 0.5rem;
    border-radius: 5px;
}

.task_card {
    background-color: rgb(235, 228, 129);
    width: fit-content;
    padding: 1rem;
    color: rgb(41, 41, 41);
    border-radius: 15px;
    margin-top: 2rem;
    margin-right: 1rem;
}

.dialog {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.dialog_task__close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.dialog_task {
      background: white;
  padding: 2rem;
  border-radius: 0.75rem;
  max-width: 600px;
  width: 90%;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.dialog__title {
    font-size: larger;
    color: black;
}

.dialog__text {
    font-size: larger;
    color: black;
}

.status-link {
  margin-right: 0.5rem;
  background-color: #515151;
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 0.375rem;
}

.status-link:hover {
  background-color: #ddd;
}

.add_task_form {
    width: 20rem;
}